/* Add screen styles below */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
  min-height: 100vh;
  padding-top: 150px;
  background: url(galaxy.jpg);
  background-repeat: repeat;
  background-size: auto;
}

header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f7faf9; /*place holder */
  padding: 28px 9%;
  transition: all .50% ease;
  color: black;
}

h1{
  display: flex;
  align-items: center;
  color: #f7faf9;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  /* font-family: cursive; */
  color: black;
}

.navLinks{
  display: flex;
}

.navLinks a{
  color: gray;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0 30px;
  transition: all .50s ease;
}

.navLinks a:hover, .navlinks a.active{
  color: #f0318d
}

.main{
  display: flex;
  align-items: center;
}

.main a{
  margin-right: 25px;
  margin-left: 10px;
  color: #f7faf9;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all .50s ease;
}

.main a:hover{
  color: #f0318d;
}


h2 {
  color: white;
}

h3 {
  color: white;
}