/* Add screen styles below */
a.active {
    font-weight: bold;
}

body {
  background: url(galaxy.jpg);
  background-repeat: repeat;
  background-size: auto;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

nav {
  
}