/* Add screen styles below */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
  min-height: 100vh;
  padding-top: 150px;

  /* Sets up the bacground with the galaxy image */
  background: url(galaxy.jpg);
  background-repeat: repeat;
  background-size: auto;
}

/* Postioning elements to help create the navigation bar */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #f7faf9; 
  padding: 20px 0;
  z-index: 1000;

  display: flex;
  justify-content: center; 
  align-items: center;
}

/* Creates the container for the title + navigation links; centering it in the middle */
.header-center {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

/* Styling rules for the title */
h1 {
  margin-bottom: 10px;   /* space between title and links */
  font-size: 1.8rem;
  text-transform: uppercase;
}

/* Styling rules for the h1 */
h1 a {
  color: black;
  text-decoration: none;
}

/* Styling rules for the navigation bar */
.navLinks {
  display: flex;
  gap: 30px; /* space between links */
  padding: 0;
  margin: 0;
}

/* Styling rules for the untouched state of navigation links */
.navLinks a {
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

/* Creates the hover effect for the navigation links */
.navLinks a:hover,
.navLinks a.active {
  color: #f0318d;
}


.main{
  display: flex;
  align-items: center;
}

.main a{
  margin-right: 25px;
  margin-left: 10px;
  color: #f7faf9;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all .50s ease;
}

.main a:hover{
  color: #f0318d;
}

/* Main content alignment styling */
.content {
  display: flex;           
  align-items: flex-start; 
  gap: 30px;               
  padding: 20px;
}

/* Styling rules for the description */
.description {
  flex: 1;                 
  color: white;            
}

/* Sizing for the image */
.image img {
  max-width: 500px;        
  height: auto;
  border-radius: 10px;     
}

/* Styling rules for h2 */
h2 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}

/* Styling rules for the p texts */
p {
  color: white;
  text-align: center;
  font-size: 20px;
}