/* Add screen styles below */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
  min-height: 100vh;
  padding-top: 150px;
  background: url(galaxy.jpg);
  background-repeat: repeat;
  background-size: auto;
}

header{
  right: 0;
  display: flex;
  background: #f7faf9; /*place holder */
  transition: all .50% ease;
  color: black;
  position: fixed;
  top: 0;
  width: 100%;
  background: #f7faf9;
  padding: 20px 0;
  z-index: 1000;
}

.header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  color: #f7faf9;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  /* font-family: cursive; */
  color: black;
  margin-bottom: 10px;

}

.navLinks{
  display: flex;
  gap: 30px;
}

.navLinks a{
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all .50s ease;
}

.navLinks a:hover, .navlinks a.active{
  color: #f0318d
}

.main{
  display: flex;
  align-items: center;
}

.main a{
  margin-right: 25px;
  margin-left: 10px;
  color: #f7faf9;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all .50s ease;
}

.main a:hover{
  color: #f0318d;
}


h2 {
  color: white;
}

p {
  color: white;
}