/* Add screen styles below */
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
    text-decoration; none;
    list-style: none;
}

body {
  min-height: 100vh;

  background: url(galaxy.jpg);
  background-repeat: repeat;
  background-size: auto;
}

header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2b1b42 /*place holder */
  padding: 28px 9%;
  transition: all .50% ease;
}

.logo{
  display: flex;
  align-items: center;
}

.logo i{
  color: #f0318d;
  font-size: 30px;
  margin-right: 3px;
}

.logo span{
  color: #f7faf9;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: cursive;
}

.navLinks{
  display: flex;
}

.navLinks{
  color: #f7faf9
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0 30px;
  transition: all .50s ease;
}

.navLinks a:hover, .navlinks a.active{
  color: #f0318d
}

.main{
  dispaly: flex;
  align-items: center;
}

.main a{
  margin-right: 25px;
  margin-left: 10px;
  color: #f7faf9;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all .50s ease;
}

.main a:hover{
  color: #f0318d;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}